[submodule "ext/sokol"]
	path = ext/sokol
	url = https://github.com/elix22/sokol.git
[submodule "tools/sokol-tools"]
	path = tools/sokol-tools
	url = https://github.com/elix22/sokol-tools.git
[submodule "ext/cimgui"]
	path = ext/cimgui
	url = https://github.com/elix22/cimgui.git
	branch = v1.92.2b
[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "ext/joltc"]
	path = ext/joltc
	url = https://github.com/elix22/joltc.git
	branch = sokol-dev
[submodule "ext/box2d"]
	path = ext/box2d
	url = https://github.com/elix22/box2d.git
	branch = sokol-dev
[submodule "ext/SharpGLTF"]
	path = ext/SharpGLTF
	url = https://github.com/elix22/SharpGLTF.git
	branch = sokol-dotnet
[submodule "ext/cgltf"]
	path = ext/cgltf
	url = https://github.com/elix22/cgltf.git
[submodule "ext/manifold"]
	path = ext/manifold
	url = https://github.com/elix22/manifold.git
	branch = sokol-dev
[submodule "ext/lynx"]
	path = ext/lynx
	url = https://github.com/lynx-chess/Lynx.git
[submodule "ext/nanovg"]
	path = ext/nanovg
	url = https://github.com/elix22/nanovg.git
	branch = sokol-nanovg
