
.DS_Store
bin/
!tools/bin/
!ext/ozz-animation/bin/
ext/ozz-animation/bin/*
!ext/ozz-animation/bin/emscripten/
obj/
examples/*/ios/
examples/*/android/
!examples/*/shaders/compiled/ios/
!examples/*/shaders/compiled/android/

# Build outputs (APKs, AABs, IPAs, etc.)
examples/*/output/
